# Mac Finder display config
*.DS_Store

# bytecode
*__pycache__

# installation
gittracker.egg-info

# pycharm config
.idea

# users' tracked repositories and error logs
Gittracker/log

# files for developing package
dev/